### Loading the required libs

In [1]:
import os

In [5]:
pip install pandas numpy matplotlib

Collecting pandas
  Downloading pandas-2.1.1-cp311-cp311-win_amd64.whl (10.6 MB)
                                              0.0/10.6 MB ? eta -:--:--
                                              0.1/10.6 MB 2.6 MB/s eta 0:00:04
     --                                       0.6/10.6 MB 7.1 MB/s eta 0:00:02
     ------                                   1.7/10.6 MB 13.2 MB/s eta 0:00:01
     -----------------------                  6.3/10.6 MB 36.4 MB/s eta 0:00:01
     ---------------------------------        9.0/10.6 MB 41.2 MB/s eta 0:00:01
     --------------------------------------- 10.6/10.6 MB 54.7 MB/s eta 0:00:00
Collecting numpy
  Downloading numpy-1.26.0-cp311-cp311-win_amd64.whl (15.8 MB)
                                              0.0/15.8 MB ? eta -:--:--
     ------                                   2.4/15.8 MB 78.0 MB/s eta 0:00:01
     -----------------------                 9.4/15.8 MB 101.2 MB/s eta 0:00:01
     ---------------------------------      14.0/15.8 MB 131.2 MB/s eta 0:00:01
     -------------------------------------  15.8/15.8 MB 131.2 MB/s eta 0:00:01
     --------------------------------------- 15.8/15.8 MB 65.5 MB/s eta 0:00:00
Collecting matplotlib
  Downloading matplotlib-3.8.0-cp311-cp311-win_amd64.whl (7.6 MB)
                                              0.0/7.6 MB ? eta -:--:--
     ------------------                       3.5/7.6 MB 110.4 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 121.1 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 96.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\37718890\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
                                              0.0/502.5 kB ? eta -:--:--
     ------------------------------------- 502.5/502.5 kB 30.8 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ------------------------------------- 341.8/341.8 kB 20.7 MB/s eta 0:00:00
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.1.1-cp311-cp311-win_amd64.whl (480 kB)
                                              0.0/480.5 kB ? eta -:--:--
     ------------------------------------- 480.5/480.5 kB 29.4 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.43.1-cp311-cp311-win_amd64.whl (2.1 MB)
                                              0.0/2.1 MB ? eta -:--:--
     --------------------------               1.4/2.1 MB 45.9 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 34.4 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp311-cp311-win_amd64.whl (56 kB)
                                              0.0/56.1 kB ? eta -:--:--
     ---------------------------------------- 56.1/56.1 kB ? eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\37718890\appdata\roaming\python\python311\site-packages (from matplotlib) (23.2)
Collecting pillow>=6.2.0 (from matplotlib)
  Downloading Pillow-10.0.1-cp311-cp311-win_amd64.whl (2.5 MB)
                                              0.0/2.5 MB ? eta -:--:--
     ---------------------------------------  2.5/2.5 MB 80.6 MB/s eta 0:00:01
     ---------------------------------------- 2.5/2.5 MB 53.3 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
                                              0.0/103.1 kB ? eta -:--:--
     -------------------------------------- 103.1/103.1 kB 5.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\37718890\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, cycler, pandas, contourpy, matplotlib
Successfully installed contourpy-1.1.1 cycler-0.12.1 fonttools-4.43.1 kiwisolver-1.4.5 matplotlib-3.8.0 numpy-1.26.0 pandas-2.1.1 pillow-10.0.1 pyparsing-3.1.1 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
import matplotlib.pyplot as plt

### Set your work directory to where the data is located

In [10]:
os.chdir("C://Users//37718890//Downloads/ml-100k/")

In [11]:
os.getcwd()

'C:\\Users\\37718890\\Downloads\\ml-100k'

### Column headers for the dataset

In [13]:
data_cols = ['user id', 'movie id', 'rating', 'timestamp']

item_cols = ['movie id', 'movie title', 'release date',
'video release date', 'IMDb URL', 'unknown', 'Action',
'Adventure', 'Animation', 'Childrens', 'Comedy', 'Crime',
'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

user_cols = ['user id', 'age', 'gender', 'occupation', 'zip code']

### Importing the data files onto dataframes

In [14]:
users = pd.read_csv('u.user', sep= '|', names=user_cols, encoding= 'latin-1')

item = pd.read_csv('u.item', sep='|', names=item_cols, encoding='latin-1')

data = pd.read_csv('u.data', sep='\t', names=data_cols, encoding='latin-1')

In [15]:
users.head()

   user id  age gender  occupation zip code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [16]:
item.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Childrens,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
data.head()

   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [18]:
print(users.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 943 entries, 0 to 942
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user id     943 non-null    int64
 1   age         943 non-null    int64
 2   gender      943 non-null    object
 3   occupation  943 non-null    object
 4   zip code    943 non-null    object
dtypes: int64(2), object(3)
memory usage: 37.0+ KB
None

In [19]:
print(item.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie id            1682 non-null   int64
 1   movie title         1682 non-null   object
 2   release date        1681 non-null   object
 3   video release date  0 non-null      float64
 4   IMDb URL            1679 non-null   object
 5   unknown             1682 non-null   int64
 6   Action              1682 non-null   int64
 7   Adventure           1682 non-null   int64
 8    Animation          1682 non-null   int64
 9   Childrens           1682 non-null   int64
 10  Comedy              1682 non-null   int64
 11  Crime               1682 non-null   int64
 12  Documentary         1682 non-null   int64
 13  Drama               1682 non-null   int64
 14  Fantasy             1682 non-null   int64
 15  Film-Noir           1682 non-null   int64
 16  Horror              1682 non-null   int64
 17  Musical             1682 non-null   int64
 18  Mystery             1682 non-null   int64
 19  Romance             1682 non-null   int64
 20  Sci-Fi              1682 non-null   int64
 21  Thriller            1682 non-null   int64
 22  War                 1682 non-null   int64
 23  Western             1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB
None

In [20]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user id    100000 non-null  int64
 1   movie id   100000 non-null  int64
 2   rating     100000 non-null  int64
 3   timestamp  100000 non-null  int64
dtypes: int64(4)
memory usage: 3.1 MB
None

### Create a merged dataframe

In [21]:
df = pd.merge(pd.merge(item, data), users)

print(df.head)

<bound method NDFrame.head of        movie id                 movie title release date  video release date  \
0             1            Toy Story (1995)  01-Jan-1995                 NaN
1             4           Get Shorty (1995)  01-Jan-1995                 NaN
2             5              Copycat (1995)  01-Jan-1995                 NaN
3             7       Twelve Monkeys (1995)  01-Jan-1995                 NaN
4             8                 Babe (1995)  01-Jan-1995                 NaN
...         ...                         ...          ...                 ...
99995       748           Saint, The (1997)  14-Mar-1997                 NaN
99996       751  Tomorrow Never Dies (1997)  01-Jan-1997                 NaN
99997       879      Peacemaker, The (1997)  01-Jan-1997                 NaN
99998       894         Home Alone 3 (1997)  01-Jan-1997                 NaN
99999       901            Mr. Magoo (1997)  25-Dec-1997                 NaN

                                                IMDb URL  unknown  Action  \
0      http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1      http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
2      http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0
3      http://us.imdb.com/M/title-exact?Twelve%20Monk...        0       0
4         http://us.imdb.com/M/title-exact?Babe%20(1995)        0       0
...                                                  ...      ...     ...
99995  http://us.imdb.com/M/title-exact?Saint%2C%20Th...        0       1
99996  http://us.imdb.com/M/title-exact?imdb-title-12...        0       1
99997  http://us.imdb.com/M/title-exact?Peacemaker%2C...        0       1
99998  http://us.imdb.com/M/title-exact?imdb-title-11...        0       0
99999  http://us.imdb.com/M/title-exact?imdb-title-11...        0       0

       Adventure   Animation  Childrens  ...  Thriller  War  Western  user id  \
0              0           1          1  ...         0    0        0      308
1              0           0          0  ...         0    0        0      308
2              0           0          0  ...         1    0        0      308
3              0           0          0  ...         0    0        0      308
4              0           0          1  ...         0    0        0      308
...          ...         ...        ...  ...       ...  ...      ...      ...
99995          0           0          0  ...         1    0        0      729
99996          0           0          0  ...         1    0        0      729
99997          0           0          0  ...         1    1        0      729
99998          0           0          1  ...         0    0        0      729
99999          0           0          0  ...         0    0        0      729

       rating  timestamp  age  gender  occupation  zip code
0           4  887736532   60       M     retired     95076
1           5  887737890   60       M     retired     95076
2           4  887739608   60       M     retired     95076
3           4  887738847   60       M     retired     95076
4           5  887736696   60       M     retired     95076
...       ...        ...  ...     ...         ...       ...
99995       4  893286638   19       M     student     56567
99996       3  893286338   19       M     student     56567
99997       3  893286299   19       M     student     56567
99998       1  893286511   19       M     student     56567
99999       1  893286491   19       M     student     56567

[100000 rows x 31 columns]>

### Group Movies by their title

In [36]:
ratings_total = df.groupby('movie title').size()

print(ratings_total)

movie title
'Til There Was You (1997)                  9
1-900 (1994)                               5
101 Dalmatians (1996)                    109
12 Angry Men (1957)                      125
187 (1997)                                41
                                        ...
Young Guns II (1990)                      44
Young Poisoner's Handbook, The (1995)     41
Zeus and Roxanne (1997)                    6
unknown                                    9
Á köldum klaka (Cold Fever) (1994)         1
Length: 1664, dtype: int64

### Take the mean ratings of each movie using the mean function

In [41]:
ratings_mean = df.groupby('movie title').mean('rating').reset_index()[['movie title', 'rating']]

print(ratings_mean.head())

                 movie title    rating
0  'Til There Was You (1997)  2.333333
1               1-900 (1994)  2.600000
2      101 Dalmatians (1996)  2.908257
3        12 Angry Men (1957)  4.344000
4                 187 (1997)  3.024390

In [38]:
ratings_mean

60.09615384615385

### Modidfy the dataframes so that we can merge the two

In [44]:
ratings_total = pd.DataFrame({'Movie title': ratings_total.index, 'total ratings': ratings_total.values})

In [45]:
ratings_total

                                Movie title  total ratings
0                 'Til There Was You (1997)              9
1                              1-900 (1994)              5
2                     101 Dalmatians (1996)            109
3                       12 Angry Men (1957)            125
4                                187 (1997)             41
...                                     ...            ...
1659                   Young Guns II (1990)             44
1660  Young Poisoner's Handbook, The (1995)             41
1661                Zeus and Roxanne (1997)              6
1662                                unknown              9
1663     Á köldum klaka (Cold Fever) (1994)              1

[1664 rows x 2 columns]

### Now we sort the values by the total rating

In [48]:
final = pd.merge(ratings_mean, ratings_total).sort_values(by = 'total ratings', ascending = False)

ratings_mean['movie title'] = ratings_mean.index

print(final.describe())

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False